/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* @header
----------------------------------------------------*/
body {
    position: relative;
    font-family: Microsoft JhengHei;
}

.header {
    height: 50px;
    width: 100%;
    background-color: rgb(34,36,38);
    position: fixed;
    z-index: 1;
}

#signiture {
    position: absolute;
    left: 10px;
    bottom: 0;
}

#signiture img {
    height: 40px;
    width: 45px;
}

#nav {
    position: absolute;
    right: 60px;
    bottom: 0px;
    font-size: 0px;
}

#nav li {
    display: inline-block;
    height: 50px;
    padding: 0 15px 0 15px;
}

#nav li:hover {
    background-color: #666;
}

.current-section {
    background-color: #666;
}

#nav a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    line-height: 50px;
    font-size: 16px;
}

.header .github {
    width: 35px;
    height: 45px;
    position: absolute;
    right: 10px;
    bottom: 0;
}

@media screen and (max-width: 1000px) {
    #nav {
        display: none;
    }

/*    #nav li {
        display: block;
        margin: 10px;
    }

    #drop-down {
        display: block;
        width: 40px;
        height: 40px;
        background-color: white;
        position: absolute;
        right: 60px;
        bottom: 5px;
    }*/
}


/* @Introduction
----------------------------------------------------*/
.page1 {
    text-align: center;
}

.portrait {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    position: relative;
    right: 800px;
}

#introduction {
    display: inline-block;
    margin: 40px 100px 40px 100px;
    position: relative;
    left: 800px;

}

@media screen and (max-width: 1000px) {
    #introduction {
        display: block;
    }
}


#introduction h1 {
    font-size: 45px;
    margin-bottom: 50px;
    margin-top:50px;
    text-shadow: 2px 2px #666;
}

#introduction p {
    font-size: 25px;
    margin-bottom: 20px;
}


#def1 span {
    color: #2D425D;
    text-shadow: 1px 1px #2D425D;
}

#def2 span {
    color: #B93853;
    text-shadow: 1px 1px #B93853;
}

#email a {
    text-decoration: none;
    color: #5CB6E3;
}

/* @background
----------------------------------------------------*/

.page2 {
    text-align: center;
}


.page2 h1 {
    font-size: 50px;
    width: 50px;
    position: absolute;
    left: 40px;
    text-shadow: 2px 2px #ddd;
}

@media screen and (max-width: 1000px) {
    .page2 h1 {
        margin-top: -110px;
        width: 300px;
        left: 0px;
    }
}

.page2 h2 {
    font-size: 20px;
    margin: 10px;
    text-shadow: 2px 2px #ddd;
}

.page2 h3 {
    font-size: 15px;
    margin: 10px;
}

.page2 h4 {
    font-size: 15px;
    margin: 10px;
}

.page2 p {
    line-height: 150%;
    font-size: 15px;
}


#undergraduate, #graduate, #new-start {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
   /* visibility: hidden;*/
   opacity: 0;
}

.mark {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: 1px solid black;
    position: relative;
    top: 40px;
   /* visibility: hidden;*/
   opacity: 0;
}

.mark span {
    position: relative;
    top: 20px;
    text-shadow: 1px 1px #B93853;
    color: #B93853;
}

#TJU {
    width: 100px;
    height: 100px;
}

#UBC {
    width: 80px;
    height: 100px;
}

#FE {
    width: 150px;
    height: 100px;
}

#my-will {
    width: 600px;
    position: relative;
    top: 100px;
    margin: auto;
    text-align: left;
    text-indent: 30px;
    text-shadow: 1px 1px #ddd;
   /* visibility: hidden;*/
    left: 1000px;
}

#my-will span {
    color: #2D425D;
    font-size: 20px;
}

#my-will em {
    color: #B93853;
    font-size: 20px;
}

#my-will strong {
    font-size: 20px;
}

@keyframes rotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.rotate-animation {
    animation-name: rotate;
    animation-duration: 2s;
}

/* @skills
----------------------------------------------------*/

.page3 {
    text-align: center;
}

#skills {
    width: 600px;
    display: inline-block;
    position: relative;
}

#about-skills {
    display: inline-block;
    margin-top: 20px;
    width: 400px;
    position: relative;
    left: 1000px;
}

#about-skills h1 {
    font-size: 50px;
    text-shadow: 2px 2px #ddd;
    margin-bottom: 20px;
}

#about-skills h2 {
    font-size: 15px;
    text-shadow: 2px 2px #ddd;
    margin-bottom: 20px;
    color: #5CB6E3;
}

#about-skills p {
    line-height: 150%;
}

#about-skills span {
    font-size: 20px;
    text-shadow: 1px 1px #B93853;
    color: #B93853;
}

/* @Academic
----------------------------------------------------*/
.page4 {
    text-align: center;
}

#exams {
    width: 600px;
    display: inline-block;
    position: relative;
    top: 50px;
    position: relative;
}

#other-skills {
    margin-top: 20px;
    width: 400px;
    display: inline-block;
    position: relative;
    right: 1000px;
}

#other-skills h1 {
    font-size: 50px;
    text-shadow: 2px 2px #ddd;
    margin-bottom: 20px;
}

#other-skills h2 {
    font-size: 15px;
    text-shadow: 2px 2px #ddd;
    margin-bottom: 20px;
    color: #5CB6E3;
}

#other-skills b {
    line-height: 150%;
}


#other-skills span {
    font-size: 20px;
    text-shadow: 1px 1px #ddd;
    color: #2D425D;
}

#other-skills strong {
    font-size: 20px;
    text-shadow: 1px 1px #ddd;
    color: #B93853;
}

#other-skills b {
    font-size: 20px;
    text-shadow: 1px 1px #ddd;
    color: #5CB6E3;
}


/* @portfolio
----------------------------------------------------*/
.page5 {
    text-align: center;
}
.page5 h1 {
    font-size: 50px;
    width: 50px;
    position: absolute;
    left: 40px;
    text-shadow: 2px 2px #ddd;
}


#portfolio {
    width: 70%;
    overflow: hidden;
    margin: auto;
}

#portfolio > div {
    width: 150px;
    height: 240px;
    margin: 0 20px 0 20px;
    float: left;
}

.scroll {
    width: 150px;
    height: 40px;
    /*background: -webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.5) 75%, rgba(255,255,255,0));*/
    background: url("../img/scroll.gif") no-repeat center center;
    background-size: 150px 400px;
    overflow: hidden;
    position: relative;
}



.scroll-top {
    width: 150px;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: 
}

.scroll-bottom {
    width: 150px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.scroll-page {
    
    display: block;
    width: 110px;
    margin: auto;
}

.scroll-page img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

.scroll-page:hover img {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}


#portfolio h2 {
    margin: auto;
    margin-top: 10px;
    width: 100px;
    font-size: 15px;
    /*font-family: STKaiti;*/
}

/* @contact
----------------------------------------------------*/
.page6 {
    text-align: center;
    position: relative;
}


#feeling {
    position: relative;
    top: -10em;
}

#feeling h2 {
    font-size: 20px;
    color: #707D8D;
    margin: 15px;
    line-height: 150%;
}

#feeling a {
    display: block;
    margin: auto;
    width: 220px;
    height: 50px;
    background-color: #5CB6E3;
    color: white;
    vertical-align: middle;
    line-height: 50px;
}

#contact {
    background-color: #2A3C54;
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
}


#contact div {
    display: inline-block;
    margin: 40px;
    color: white;
    font-size: 16px;
}


#contact img {
    width: 100px;
    height: 100px;
    margin: 15px;
}

/*
// #     #        
//  #   #  #    # 
//   # #   #    # 
//    #    #    # 
//    #    #    # 
//    #    #    # 
//    #     ####  */

